.agendamentoconsulta_day_disable {


    background-color: #ddd;
    font-size: medium;
    background-image: url("../images/unlock-icon.png");
    pointer-events: none; 
    cursor: wait;
    background-size: 150px;
    width: 150px;
    height: 150px;
    border: 0px solid;
    content: "";

}































































































































































































































