.agendamentoconsulta_day_disable {
    font-size: medium;
    background-image: url("../images/unlock-icon.png");
    background-color:transparent !important;
    pointer-events: none !important; 
    cursor: wait !important;
    background-size: 110px;
    width: 100px;
    height: 110px;
    border: 0px solid !important;
}

.imgagem{
    width: 95% ;
    height: 90%;
}































































































































































































































